<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <Include>[WebApi]*</Include>
          <Include>[WebApi]*.*</Include>
          <Exclude>[WebApi.Test]*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCode,CompilerGenerated</ExcludeByAttribute>
          <ExcludeByFile>**/Migrations/*.cs,**/*.g.cs,**/*.Designer.cs,**/obj/**/*.cs</ExcludeByFile>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>

  <NUnit>
    <TraceLevel>Off</TraceLevel>
    <WorkDirectory>./TestResults</WorkDirectory>
    <InternalTraceLevel>Off</InternalTraceLevel>
  </NUnit>
</RunSettings>
