on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  checks: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: my-org/aspnet-api
  DOTNET_VERSION: '10.0.x'

jobs:
  build-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: |
          dotnet restore WebApi/WebApi/WebApi.csproj
          dotnet restore WebApi/WebApi.Test/WebApi.Test.csproj

      - name: Build
        run: dotnet build WebApi/WebApi/WebApi.csproj --no-restore -c Release -p:ContinuousIntegrationBuild=true

      - name: Build Tests
        run: |
          dotnet build WebApi/WebApi.Test/WebApi.Test.csproj \
            --configuration Debug \
            --no-restore

      - name: Unit Tests
        run: |
          mkdir -p ./test-results
          dotnet test WebApi/WebApi.Test/WebApi.Test.csproj \
            --no-build \
            --no-restore \
            --verbosity normal \
            --logger "trx;LogFileName=test-results.trx" \
            --results-directory ./test-results

      - name: Publish Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: ./test-results/
          retention-days: 7

      - name: Test Report
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: ./test-results/*.trx
          check_name: NUnit Test Results

  sast-sonar:
    name: SAST SonarQube analyze
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Download Test Results
        uses: actions/download-artifact@v4
        with:
          name: test-results

      - name: SonarQube Cloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=chanan-duy_ThePipeline
            -Dsonar.organization=chanan-duy
            -Dsonar.cs.vstest.reportsPaths=./test-results/*.trx
            -Dsonar.coverage.exclusions=**/Migrations/**,**/obj/**,**/bin/**
