name: CI/CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  checks: write

env:
  IMAGE_NAME: chananduy/thepipeline
  DOTNET_VERSION: '10.0.x'

jobs:
  build-test:
    if: false
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: |
          dotnet restore WebApi/WebApi/WebApi.csproj
          dotnet restore WebApi/WebApi.Test/WebApi.Test.csproj

      - name: Build
        run: dotnet build WebApi/WebApi/WebApi.csproj --no-restore -c Release -p:ContinuousIntegrationBuild=true

      - name: Build Tests
        run: |
          dotnet build WebApi/WebApi.Test/WebApi.Test.csproj \
            --configuration Debug \
            --no-restore

      - name: Unit Tests
        run: |
          mkdir -p ./test-results
          dotnet test WebApi/WebApi.Test/WebApi.Test.csproj \
            --no-build \
            --no-restore \
            --verbosity normal \
            --logger "trx;LogFileName=test-results.trx" \
            --results-directory ./test-results

      - name: Publish Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: ./test-results/
          retention-days: 7

      - name: Test Report
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: ./test-results/*.trx
          check_name: NUnit Test Results

  sast-sonar:
    if: false
    name: SAST SonarQube analyze
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache SonarQube Cloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache SonarQube Cloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      - name: Install SonarQube Cloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        run: |
          mkdir -p ${{ runner.temp }}/scanner
          dotnet tool update dotnet-sonarscanner --tool-path ${{ runner.temp }}/scanner
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ${{ runner.temp }}/scanner/dotnet-sonarscanner begin /k:"chanan-duy_ThePipeline" /o:"chanan-duy" /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
          dotnet build WebApi/WebApi/WebApi.csproj
          ${{ runner.temp }}/scanner/dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"

  docker-and-dast:
    name: Docker push and DAST analyze
    #    needs: build-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      version: ${{ steps.versioning.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: '6.4.x'

      - name: Determine Version
        id: versioning
        uses: gittools/actions/gitversion/execute@v4.2.0

      - name: Print Version
        run: echo "Version is ${{ steps.versioning.outputs.semVer }}"

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: WebApi/WebApi/Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ steps.versioning.outputs.semVer }},${{ env.IMAGE_NAME }}:latest

      - name: Start Container for DAST
        run: |
          docker run -d -p 8080:8080 --name test-app ${{ env.IMAGE_NAME }}:${{ steps.versioning.outputs.semVer }}
          sleep 10

      - name: OWASP ZAP Scan (DAST)
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: 'http://localhost:8080'
          fail_action: false
          allow_issue_writing: false
