on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  packages: write
  issues: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: my-org/aspnet-api
  DOTNET_VERSION: '10.0.x'

jobs:
  build-test-sast:
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.semantic.outputs.new_release_version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore WebApi/WebApi/WebApi.csproj

      - name: Build
        run: dotnet build WebApi/WebApi/WebApi.csproj --no-restore -c Release

      - name: Unit Tests
        run: dotnet test WebApi/WebApi.Test/WebApi.Test.csproj --no-build --verbosity normal
