on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  issues: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: my-org/aspnet-api
  DOTNET_VERSION: '10.0.x'

jobs:
  build-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore WebApi/WebApi/WebApi.csproj

      - name: Build
        run: dotnet build WebApi/WebApi/WebApi.csproj --no-restore -c Debug -p:ContinuousIntegrationBuild=true # for now

      - name: Unit Tests
        run: dotnet test WebApi/WebApi.Test/WebApi.Test.csproj --no-build --verbosity normal

  sast-sonar:
    name: SAST SonarQube analyze
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache SonarQube Cloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache SonarQube Cloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      - name: Install SonarQube Cloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        run: |
          mkdir -p ${{ runner.temp }}/scanner
          dotnet tool update dotnet-sonarscanner --tool-path ${{ runner.temp }}/scanner
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ${{ runner.temp }}/scanner/dotnet-sonarscanner begin /k:"chanan-duy_ThePipeline" /o:"chanan-duy" /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
          dotnet build WebApi/WebApi/WebApi.csproj
          ${{ runner.temp }}/scanner/dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
